<h1>{{ title }}</h1>
<!-- trip-form.component.html -->
<div class="trip-form">
  <form #tripForm="ngForm" (ngSubmit)="addTrip()">
    <input
      type="text"
      name="start"
      [(ngModel)]="trip.start"
      placeholder="Start Point"
      required
    />

    <input
      type="text"
      name="end"
      [(ngModel)]="trip.end"
      placeholder="End Point"
      required
    />

    <button type="submit" [disabled]="!tripForm.form.valid">Add Trip</button>
  </form>

  <button
    (click)="visualizeRoute()"
    class="visualize-btn"
    [disabled]="!(trips.length >= 2)"
  >
    Visualize Route
  </button>
</div>
<h3 *ngIf="showVisualization">Trip Visualizer</h3>

<div class="trip-visualization" *ngIf="showVisualization">
  <ng-container *ngFor="let trip of finalTrips; let i = index">
    <hr
      *ngIf="i != 0 && trip.continued && !isBelowLevel(i) && !isAboveLevel(i)"
      [ngClass]="'level-' + trip.level"
      [ngStyle]="{ 'border-color': cssColors[i % 10] }"
    />

    <div
      class="line-with-arrow"
      *ngIf="i != 0 && !trip.continued && !isBelowLevel(i) && !isAboveLevel(i)"
      [ngClass]="'level-' + trip.level"
    >
      <div
        class="line"
        [ngStyle]="{ 'background-color': cssColors[i % 10] }"
      ></div>
      <div
        class="arrow"
        [ngStyle]="{
          '--arrow-color': cssColors[i % 10]
        }"
      ></div>
    </div>
    <span
      class="tilted-tilde-bottom"
      [ngClass]="{ 'no-continue': !trip.continued }"
      *ngIf="i != 0 && isBelowLevel(i)"
      [ngStyle]="{
        color: cssColors[i % 10],
        '--arrow-color': cssColors[i % 10]
      }"
      >~</span
    >
    <span
      class="tilted-tilde-top"
      [ngClass]="{ 'no-continue': !trip.continued }"
      *ngIf="i != 0 && isAboveLevel(i)"
      [ngStyle]="{
        color: cssColors[i % 10],
        '--arrow-color': cssColors[i % 10]
      }"
      >~</span
    >

    <div
      class="trip-item"
      [ngClass]="'level-' + trip.level"
      [ngClass]="{
        'top-bottom-curve': i != 0 && isBelowLevel(i),
        'bottom-top-curve': i != 0 && isAboveLevel(i),
        'level-1': trip.level == 1,
        'level-2': trip.level == 2
      }"
    >
      <span
        class="label"
        *ngIf="trip.level == 2"
        [ngStyle]="{ color: cssColors[(i + 1) % 10] }"
      >
        {{ trip.label }}
      </span>
      <div class="trip-label">
        <div
          class="circle"
          [ngStyle]="{ background: cssColors[(i + 1) % 10] }"
        ></div>
      </div>

      <span
        class="label"
        [ngStyle]="{ color: cssColors[(i + 1) % 10] }"
        *ngIf="trip.level == 1"
      >
        {{ trip.label }}
      </span>
    </div>
  </ng-container>
</div>
